tooltip {
  background-color: @tooltip-bg-color;
}

calendar {
  border-radius: 15px;
  padding: 20px 15px 0px 15px;
  background-color: black;
}

calendar:selected {
  background-color: @foreground;
}
